In [1]:
import pandas as pd

In [5]:
#Con esto se define un dataframe se colocan jugadores y sus indices
psg_players = pd.Series(['Navas', 'Mbappe','Neymar','Messi'],
          index = [1,7,10,30])

In [6]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [ ]:
#si no se colocan indices se define un array normal con indices desde el 0
psg_players = pd.Series(['Navas', 'Mbappe','Neymar','Messi'])

In [8]:
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [10]:
#los valores se encuentran por el indice
psg_players[1]

'Navas'

In [14]:
#arreglos multidimensinales
dict = {'Jugador': ['Navas', 'Mbappe','Neymar','Messi'],
 'Altura': [183.0,170.0,170.0,165.0],
 'Goles':[2,200,200,200],
 }

In [19]:
df_players = pd.DataFrame(dict, index = [1,7,10,30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [17]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [18]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

## Ejemplo de dataframe con los jugadores del GRANADA FC

In [20]:
dict = {'Jugador':['Luis Suarez','Jorge Molina', 'Antonio Puertas', 'German Sanchez', 'Luis Milla', 'Luis Manuel Arantes Maximiano'],
        'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
        'Número':[9, 23, 10, 6, 5, 1],
        'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
        'Goles':[7, 7, 5, 2, 2, 0]
        }

In [22]:
gfc_players = pd.DataFrame(dict)
gfc_players

                         Jugador        Posición  Número  Altura  Goles
0                    Luis Suarez       Delantero       9   185.0      7
1                   Jorge Molina       Delantero      23   187.0      7
2                Antonio Puertas  Centrocampista      10   185.0      5
3                 German Sanchez         Defensa       6   187.0      2
4                     Luis Milla  Centrocampista       5   175.0      2
5  Luis Manuel Arantes Maximiano         Portero       1   190.0      0