In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
 'B':['B0','B1','B2','B3'],
 'C':['C0','C1','C2','C3'],
 'D':['D0','D1','D2','D3'],})

In [3]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
 'B':['B4','B5','B6','B7'],
 'C':['C4','C5','C6','C7'],
 'D':['D4','D5','D6','D7'],})

In [4]:
#para este caso los indices heredan el anterior
#por default esta concatenacion lo une por el axis 0 que es el de columnas
pd.concat([df1,df2])
#se corrije asi
pd.concat([df1,df2],ignore_index = True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
#Ahora se a√±ade por columnas usando axis 1
pd.concat([df1,df2], axis = 1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

## Merge

In [ ]:
left = pd.DataFrame({'key': ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3'],
 })
right = pd.DataFrame({'key': ['k0','k1','k2','k3'],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3'],
 })

In [ ]:
# Sintaxis para unir dos bases de datos por medio de un indice
# dfleft.merge(dfright, on = 'indice')
left.merge(right, on = 'key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [ ]:
left = pd.DataFrame({'key': ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3'],
 })
right = pd.DataFrame({'key2': ['k0','k1','k2','k3'],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3'],
 })

In [ ]:
left.merge(right, left_on = 'key', right_on= 'key2')

  key   A   B key2   C   D
0  k0  A0  B0   k0  C0  D0
1  k1  A1  B1   k1  C1  D1
2  k2  A2  B2   k2  C2  D2
3  k3  A3  B3   k3  C3  D3

In [ ]:
left = pd.DataFrame({'key': ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3'],
 })
right = pd.DataFrame({'key2': ['k0','k1','k2',np.nan],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3'],
 })
right

  key2   C   D
0   k0  C0  D0
1   k1  C1  D1
2   k2  C2  D2
3  NaN  C3  D3

In [ ]:
#No trae los valores que no coinciden
left.merge(right, left_on = 'key', right_on= 'key2')

  key   A   B key2   C   D
0  k0  A0  B0   k0  C0  D0
1  k1  A1  B1   k1  C1  D1
2  k2  A2  B2   k2  C2  D2

In [ ]:
#se soluciona con how
left.merge(right, left_on = 'key', right_on= 'key2', how = 'left')

  key   A   B key2    C    D
0  k0  A0  B0   k0   C0   D0
1  k1  A1  B1   k1   C1   D1
2  k2  A2  B2   k2   C2   D2
3  k3  A3  B3  NaN  NaN  NaN

In [ ]:
#se soluciona con how
left.merge(right, left_on = 'key', right_on= 'key2', how = 'right')

   key    A    B key2   C   D
0   k0   A0   B0   k0  C0  D0
1   k1   A1   B1   k1  C1  D1
2   k2   A2   B2   k2  C2  D2
3  NaN  NaN  NaN  NaN  C3  D3

## Join index match

In [5]:
left = pd.DataFrame({'A': ['A0','A1','A2'],
  'B':['B0','B1','B2']},
  index=['k0','k1','k2'])

right =pd.DataFrame({'C': ['C0','C1','C2'],
  'D':['D0','D1','D2']},
  index=['k0','k2','k3'])

In [6]:
# Hace una operacion de join definida por los indices
left.join(right)

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [7]:
left.join(right, how = 'inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1

In [8]:
left.join(right, how = 'right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

In [9]:
left.join(right, how = 'left')

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [10]:
left.join(right, how = 'outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2